*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
}

header{
    background-image: url("img/logoClinica.png");
    background-size: cover;
    background-position: center;
    height: 250px;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding-top: 200px;
}


nav li{
    display: inline-block;
    padding-right: 10px;
    list-style: none;
}

li a{
    padding: 5px;
    background-color: grey;
    text-decoration: none;
    border-radius: 10px;

}
/* prueba mis turnos en el index */
.misTurnos{
    padding: 5px;
    background-color: grey;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}
.misTurnos:hover{
    background-color: lightblue;
}

.turnosCart{
    position: absolute;
  min-height: 10rem;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 0;
  overflow: hidden;
}

.show-cart {
    width: 18rem;
    padding: 2rem 1.5rem;
    margin-top: 40vh;
    transform: rotateY(-360deg);
    background-color: blue;
  }

#btnTurnosDisponibles{
    border-radius: 10px;
    padding: 5px;
    margin-top: 100px;
}



.contenedorTurnos,
.contenedorTurnos2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.turnos {
    display: inline-block;
    align-content: center;
}


.solicitar{
    width: 200px;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: grey;
    color: black;
    text-decoration: none
}
.turnosHover{
    display: flex;
    padding: 10px;
}

.turnosHover:hover {
    padding-left: 15px;
    opacity: 1;
    text-decoration: none;
}

/* css de mis turnos */

.contenedorTurnos2{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
}

.turnosPrincipal{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid grey;
}